body {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    margin: 0px;
}
#bigPicture {
    /* margin-left: -40px; */
    height: 450px;
    width: 100%;
    background-color: brown;
    position: absolute;
    z-index: 1;
    background-image: url('https://wallpapercave.com/wp/wp1822727.jpg');
    opacity: 0.95;
    
}
h1 {
    position: relative;
    z-index: 1000;
}
form {
    position: absolute;
    z-index: 30000;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 18px;
}
#searchBar, #clicker {
    display: inline-block;
}
.page-container {
    text-align: center;
}
#gifs-container {
    display: flex;
    background-color: none;
    width: 80%;
    margin: auto;
    overflow:scroll;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: 400px; */
    padding: 8%;
}
.transitionSetup {
    display: inherit;
    height: inherit;
    width: inherit;
}
.divImage {
    height: 143px;
    width: 243px;
    display: block;
    /* object-fit: cover; */
    background: none;
    padding: none;
    margin: none;
    position: relative;
    opacity: 0.87;
	transition: all .4s ease-in-out;
}
.transition {
    transform: scale(1.6);
}
/* .divImage:hover {
    opacity: none;
} */
.character {
    width: 400px;
    height: 200px;
}
/* .card bg-dark text-white {
    width: 100px;
    height: 200px;
} */
li {
    flex-direction: row;
    /* height: 100px;
    width: 80px; */
}
#mainBox {
    /* width: 75%;
    height: 75%; */
    overflow:scroll;
    display: inherit;
    flex-wrap: wrap;
}
.fighter-list__item {
    width: 243px;
    height: 143px;
    transition: all .4s ease-in-out;
    list-style: none;
    z-index: 1;
}
.listDiv {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: black;
    /* opacity: 0.5; */
}
.divImage:hover, .fighter-list__item:hover{
    opacity: 1;
    transform: scale(1.2);
    z-index: 1000;
}
p {
    float: left;
}

.centered {
    /* position: inherit; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: absolute; */
}
/* .l: hover {
    background-color: yellow;
} */



.nav, .navButtons {
    border: 1px solid black;
}

.nav {
    height: 63px;
    background-color: whitesmoke;
    opacity: 0.35;
    font-weight: 500;
    position: sticky;
    top: 0;
    height: 72px;
    z-index: 1000;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.navItem1, .navItem2, .navItem3, .navItem4 {
    /* padding: 5px; */
    border: 1px solid blueviolet;
    display: inline-block;
    width: 90px;
    height: 50px;
    margin-left: 40px;
    margin-top: 5px;
    
    
    /* position: relative; */
}
.navItem5 {
    border: 1px solid blueviolet;
    display: inline-block;
    width: 400px;
    height: 50px;
    margin-left: 40px;
    margin-top: 5px;
    position: absolute;
}