body {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* opacity: 0.98; */
    margin: 0px;
    position: relative;
    z-index: 10500;
}
#bigPicture {
    /* margin-left: -40px; */
    /* height: 80%; */
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    /* background-image: url('https://wallpapercave.com/wp/wp1822727.jpg'); */
    /* background-image: url("https://hdqwalls.com/download/rick-and-morty-5k-yc-2048x1152.jpg"); */
    opacity: 0.88;

    
}
#enterWeb {
    width: 90%;
    height: 500px;
    background-color: white;
    display: inline-block;
}
.card {
    display: inline-block;
}
#pic1{
    width: 100%;
    position: relative;
    float: left;
}
h1 {
    position: relative;
    z-index: 1000;
}
form {
    position: absolute;
    z-index: 30000;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 18px;
}
#searchBar, #clicker {
    display: inline-block;
}
.page-container {
    text-align: center;
}
#gifs-container {
    display: flex;
    background-color: none;
    width: 100%;
    margin: auto;
    overflow:scroll;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: 400px; */
    padding: 1%;
}
.transitionSetup {
    display: inherit;
    height: inherit;
    width: inherit;
    width: 182.25px;
    height: 107.25px;
}
.divImage {
    width: 182.25px;
    height: 107.25px;
    display: block;
    /* object-fit: cover; */
    background: none;
    padding: none;
    margin: none;
    position: relative;
    opacity: 0.98;
	transition: all .4s ease-in-out;
}
.fa-heart {
    position: absolute;
    top: 90px;
    right: 8px;
    z-index: 60000;
    transition: all .4s ease-in-out;
}
.far {
    color: white;
}
.fas{
    color: red;
}
.changeOfHeart {
    transform: scale(1.2);
    top: 93px;
    right: 2px;
}
.far:hover {
    transform: scale(2);
}
.transition {
    transform: scale(1.6);
}
/* .divImage:hover {
    opacity: none;
} */
.character {
    width: 400px;
    height: 200px;
}
/* .card bg-dark text-white {
    width: 100px;
    height: 200px;
} */
li {
    flex-direction: row;
    /* height: 100px;
    width: 80px; */
}
#mainBox {
    /* width: 75%;
    height: 75%; */
    overflow:scroll;
    display: inherit;
    flex-wrap: wrap;
}
.fighter-list__item {
    width: 182.25px;
    height: 107.25px;
    /* transition: all .4s ease-in-out; */
    list-style: none;
    z-index: 1;
}
.listDiv {
    width: 182.25px;
    height: 107.25px;
    position: absolute;
    background-color: black;
    /* opacity: 0.5; */
}
.changeDetailDiv {
    transform: scale(1.2);
    display: block;
}
.detailDiv {
    border: 2px solid gold;
    /* height: 171.6px;
    width: 291.6px; */
    width: 243px;
    height: 201px;
    opacity: 0.9;
    background-color: aqua;
    position: relative;
    z-index: 10000;
    transition: all .4s ease-in-out;
    /* margin-top: 27px; */
    text-align: left;
    margin-right: 20px;
    margin-top: 28px;
    /* display: none; */
    margin-left: 6.3px;
}
#hide {
    display: none;
}

h5 {
    display: inline-block;
}
/* .detailDiv:hover {
    transform: scale(1.2);
} */
.divImage:hover {
    opacity: 1;
    transform: scale(1.2);
    z-index: 1000;
    border: 1.5px solid gold;
}
.fighter-list__item:hover{
    opacity: 1;
    /* transform: scale(1.2); */
    z-index: 1000;
}
p {
    float: left;
}

.centered {
    /* position: inherit; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: absolute; */
}
/* .l: hover {
    background-color: yellow;
} */


/* All nav rules below */
.nav, .navButtons {
    border: 1px solid black;
}

.nav {
    height: 63px;
    background-color: whitesmoke;
    opacity: 0.9;
    font-weight: 500;
    position: sticky;
    top: 0;
    height: 72px;
    z-index: 1000;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.navItem1, .navItem2, .navItem3, .navItem4 {
    /* padding: 5px; */
    border: 1px solid blueviolet;
    display: inline-block;
    width: 90px;
    height: 50px;
    margin-left: 40px;
    margin-top: 5px;
    
    
    /* position: relative; */
}
.navItem5 {
    border: 1px solid blueviolet;
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-left: 40px;
    margin-top: 5px;
    position: absolute;
}
#favCharacterId {
    display: none;
}


/* Carousel code--------------------------- */

